/*  og html, body: Legger til padding og margin på 0 for at nettsiden skal fylle hele bildet i nettleseren */
*{
  padding: 0%;
  margin: 0%;


}
html, body {
  height: 100%;
  margin: 0;
}

/* Kode til plassering av grid-items (grid-template-areas) fra "ProgBytes"-youtube-canal
(lenke: https://www.youtube.com/watch?v=pw3tyBS6KMw)
Resten av kode for grid-container og items via W3, https://www.w3schools.com/css/css_grid.asp*/
 .container{
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 2fr 2fr;
}
/*grid-item øverst på siden m/logo og lenker */
.logobar{
  background-color: #edddd4;
  grid-area: navbar;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 20px;
}
.menybar{
  background-color: #edddd4;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 10px;
}

.grid-1{
  background-color: #298b92;
  grid-area: grid-1;
  padding: 40px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.grid-2{
  background-color:#cba65c;
  grid-area: grid-2;
  padding: 40px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
} 
/* grid-item som fylles helt av et bilde */
.grid-2-bilde{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url("/media/26.jpg"); /* Foto: Signe Solberg Jørgensen */ 
  background-size:cover;
  max-width: 100%;
  height: auto;
}
/* grid-item som fylles helt av et bilde */
.grid-2-bilde-4{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url("/media/rosatre2.jpg"); /* Foto: Signe Solberg Jørgensen */ 
  background-size:cover;
  max-width: 100%;
  height: auto;
}
.grid-3{
  background-color: #db982c;
  grid-area: grid-3;
  padding: 40px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.grid-4{
  background-color: #f0bb66;
  grid-area: grid-4;
  padding: 40px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
/* Styling av logoen øverst på siden */
.logo{
  width: 140px;
  height: auto;
}
/*Styling av bilde. Object-fit for at bildet skal dekke hele grid-item, */
/* Funnet hjelp til kode på https://www.w3schools.com/css/css_rwd_images.asp 
og https://www.w3schools.com/css/css3_object-fit.asp*/
.bilde{
      object-fit: cover;
      max-height: 700px;
      width: auto;
}
/* max-bredde og høyde tilpasset slik at bildet skal endre str ved skalering av nettleser. Hentet fra 
https://www.w3schools.com/css/css_rwd_images.asp */
.bilde-i-tekst{
      max-width: 100%;
      height: auto;
}
/* klasse for bilder som skal være delvis gjennomsiktige, til dekorasjon */
.bilde-pynt{
      max-height: 400px;
      width: auto;
      opacity: 0.5;
      object-fit: fill;
}
p {
  white-space: normal;
  font-size: 1rem;
  font-family: arial;
  color: #0b3437;
}
h1{
  font-family: arial;
  font-size: 2rem;
  color: #bf840d;
  text-transform: uppercase;
}
h2{
  font-size: 1.5rem;
  font-family: arial;
  color: #0b3437;
  text-transform: uppercase;
}
.bildetekst{
  font-size: 1rem;
  color: #444444;
  font-style: italic;
  font-family: arial;
}
.forsidetekst-liten{
  font-size: 3rem;
  font-family: arial;
  color: #0b3437;
  text-transform: uppercase;
}
.forsidetekst-stor{
  font-family: arial;
  font-size: 4rem;
  color: #bf840d;
  text-transform: uppercase;
}
.menylink{
  font-size: 2rem;
  padding-left: 50%;
  font-family: arial;
  text-transform: uppercase;
 
 
}
/* a og a:hover styler lenkene slik at de skiller seg ut fra <p>-teksten*/
a {
  color: #181818;
  text-decoration: none;
}
a:hover{
  color:#000000;
  text-decoration: underline;
}